
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);


/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
  height: 100vh;
}
.text-red{color:red;}
.color-red{color:red!important;}
.no-show{display:none!important;}
.cookiealert{}
.form-box{
margin:0px auto!important;
width:90%!important;
border:1px #ccc solid;
padding:10px;
border-radius: 10px;
-webkit-box-shadow: 4px 5px 5px -3px #000000; 
box-shadow: 4px 5px 5px -3px #000000;
}
.form-box-ajax{
margin:10px auto!important;
width:95%!important;
border:1px #ccc solid;
padding:10px;
border-radius: 10px;
-webkit-box-shadow: 4px 5px 5px -3px #000000; 
box-shadow: 4px 5px 5px -3px #000000;

}

.upper{text-transform:uppercase;}

.lista-box{
margin:0px auto!important;
width:90%!important;
border:0px #ccc solid;
padding:10px;
}

fieldset{
border:1px #ccc solid;
border-radius: 10px;
padding:10px;
}
legend{
display:inline!important;
width:auto!important;
}

.inset-box-white{
margin:0px auto!important;
border:0px #ccc solid;
padding:10px;
background:#fff;
}

.inset-box-gray{
margin:0px auto!important;
border:1px #ccc solid;
padding:10px;
background:#E9ECEF;
}
.alert{
text-align:justify!important;
}
.btn-reset-form{width:100%;}
.btn-cad-item{width:100%;}
.btn-remove-form{width:100%;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/*menu dropdown*/
.navbar .dropdown-menu a:hover {color: #000 !important;}


/*
 * tela selecao e configuracao do servico
 * */
.service-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
#service-wrapperContent{
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 700px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.ticket{text-align:left;}

.deps{padding:0px 10px;}
.tempass{padding-top:10px!important;}
