ul.ul-results{
  position:absolute;
  margin-top: 0px;
  background: #fff;
  color: #000;
  border: 1px #000 solid;
  z-index: 101;
  width: 98%;
}
li.li-results{
  padding: 12px;
  cursor: pointer;
  color: black;
}
li.li-results:hover{
  background: #f0f0f0;
}
legend{margin-bottom: 0px;}
.permission-on{border: 3px #6E9B2F solid;}
.permission-off{border: 3px #FF3600 solid;}


#inline1 {
	display: none;
  width:300px;
  width:400px;
}
